@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");

* {
    margin: 0;
    font-family: "Barlow", sans-serif;
    /*    letter-spacing: -1px; */
}

button {
    border-radius: 3px;
}

header {
    background-color: #ffffff;
    display: flex;
    height: 84px;
    z-index: 100;
    position: fixed;
    align-items: center;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header-logo {
    margin-left: 40px;
}

.header-separator {
    border: 1px solid rgb(171, 171, 171);
    margin-right: 40px;
    height: 25px;
}

.header-options {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-search img {
    width: 45%;
}

.header-button {
    border: 1px solid rgb(197, 26, 68);
    background-color: #ffffff;
    height: 36px;
    text-transform: uppercase;
    color: rgb(197, 26, 68);
    cursor: pointer;
}

.button-white {
    border: 1px solid rgb(197, 26, 68);
    background-color: #ffffff;
    height: 36px;
    text-transform: uppercase;
    color: rgb(197, 26, 68);
    cursor: pointer;
    letter-spacing: 0;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.button-red {
    border: 1px solid rgb(197, 26, 68);
    background-color: rgb(197, 26, 68);
    height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    width: fit-content;
}

.blue-text {
    color: rgb(104, 186, 230);
}

.background {
    width: 100%;
}
.section-main {
    padding-top: 84px;
    position: relative;
    display: flex;
    align-items: center;
}
.section-main .content {
    position: absolute;
    right: 0;
    display: flex;
    width: 100%;
}

.section-main .img-main {
    width: 100%;
}
.section-main .img-img-product {
    width: 100%;
}
.section-main .img-product {
    margin-left: 80px;
    margin-right: 80px;
}

.section-main .img-product p {
    margin-top: 40px;
    color: rgb(144, 144, 145);
    font-weight: 100;
}

.section-main .img-product,
.section-main .title-buttons {
    flex-grow: 1;
    flex-basis: 0;
}
.section-main .content .title {
    font-size: 32px;
    margin: 20px 0 20px 0;
}
.section-main .content .logo-allen {
    width: 13em;
}

.general-description {
    position: relative;
    display: flex;
}
.general-description .columns {
    position: absolute;
    display: flex;
}

.general-description .description,
.general-description .spec {
    width: 50%;
}

.general-description .spec {
    margin: 20px 100px 20px 50px;
}

.general-description .description {
    margin: 20px 50px 20px 100px;
}

.main-title {
    color: rgb(197, 26, 68);
    font-size: 30px;
}
.general-description .subtitle {
    margin: 20px 0 10px 0;
}
.general-description ul {
    margin-top: 10px;
}
.general-description li {
    color: rgb(144, 144, 145);
    font-weight: 100;
}

.general-description .aditional .title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.general-description .aditional p {
    font-weight: 100;
    margin-bottom: 30px;
}

.aditional-information {
    position: relative;
    display: flex;
}
.aditional-information .content-information {
    position: absolute;
    margin: 20px 100px;
}

.aditional-information .subtitle {
    margin-top: 30px;
    color: rgb(144, 144, 145);
    font-weight: 100;
}
.aditional-information .cards {
    display: flex;
    margin-top: 50px;
}
.aditional-information .card {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 10px;
}
.aditional-information .card .img-card {
    width: 100%;
}

.aditional-information .card .category {
    text-transform: uppercase;
    color: rgb(144, 144, 145);
    font-weight: 100;
    margin-top: 10px;
}
.aditional-information .card a {
    color: rgb(104, 186, 230);
    font-size: 12px;
}

.documentation {
    position: relative;
    display: flex;
    height: 36em;
    overflow: hidden;
}

.documentation .table {
    width: 100%;
    border-collapse: collapse;
}
.documentation .doc-content {
    position: absolute;
}

.documentation .background {
    height: 50em;
}

.doc-content {
    width: 100%;
}

.documentation .main-title,
.table-main {
    margin: 20px 100px 20px 100px;
}

.documentation .table thead {
    background-color: rgb(197, 26, 68);
    color: #ffffff;
    text-transform: uppercase;
}
.documentation .table thead tr {
    height: 55px;
}
.documentation .table tbody tr {
    color: rgb(144, 144, 145);
    font-weight: 100;
    height: 40px;
    font-size: 15px;
    border-bottom: 1px solid rgb(178, 178, 179);
}

.documentation .table tbody .center {
    text-align: center;
}
footer {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-content {
    position: absolute;
    bottom: 0;
}

.social-media {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.social-media-title {
    margin: 0 auto;
    width: 250px;
    color: rgb(197, 26, 68);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.dots {
    margin-left: 160px;
}

.footer-copyright {
    background-image: url("http://drive.google.com/uc?export=view&id=1BAfgTYsGduiJK9R6j2XbWmwx8rrPSzYG");
    height: 77px;
    width: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
